.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-nav-bar {
  height: 90px;
  background: #466368;
  background: linear-gradient(
    to right bottom,
    rgb(63, 81, 181),
    rgb(54, 63, 117)
  );
}

.header-text-box {
  text-align: center;
  font-size: 200%;
  font-family: Barlow, sans-serif;
  color: #dddeff;
  height: 100%;
  display: flex;
}

.button-bar {
  display: flex;
  width: 30%;
  margin: auto;
}
